# CLion & CMake (Cartelle di build)
cmake-build-*/
build/
bin/
lib/

# File IDE (Non servono ad altri)
.idea/
.vscode/
*.user

# Eseguibili e Oggetti
*.exe
*.dll
*.so
*.dylib
*.a
*.o

# File temporanei di sistema
.DS_Store
Thumbs.db